.input {
    width: 340px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    background: #a3a2a2;
    font-size: 12px;
    color: #ff0000;
    text-indent: 10px;
    margin-left: 50px;
}