.listCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #1a1919;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  align-items: center;
}

.cardGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.listCard>div {
  flex: 0 0 100%;
  margin: 30px;
  box-sizing: border-box;
  width: 100%;
}

.cardImagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.grupoTitulo {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 30px;
}