.container2 {
  padding: 20px;
  border: 2px solid #ff0000;
  box-shadow: 0 0 10px #ff0000;
  background-color: #1a1919;
  position: fixed;
  transform: translate(-50%, -43%);
  max-width: 700px;
  height: 500px;
  top: 36%;
  left: 22%;
  z-index: 999px;
}