.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movieCard {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .movieCard img {
    max-width: 100%;
    height: auto;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  /* Adicione mais estilos conforme necessário */