.card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(151, 151, 151);
    font-size: 12px;
    color: #323232;
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(247, 236, 166);
}

.cardTitulo {
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 18px;
}

.cardImagem img {
    max-width: 100%;
    max-height: 50%;
}

.cardInfo {
    padding: 10px;
}