.header {
  padding: 30px;
  background-color: #000000;
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 2px solid red;
}

.a a {
  text-decoration: none;
  color: red;
  font-size: 50px;
  margin: 0 20px;
  display: flex;
  gap: 30px;
}